@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("base-style.css");

:root {
  --black: #1c232b;
  --grey: #6c7289;
  --cream: #f2eae2;
  --green-500: #3d8168;
  --green-700: #1a4032;

  --text-preset-1: 700 3.2rem/1 "Fraunces", serif;
  --text-preset-2: 700 1.4rem/1.1 "Montserrat", sans-serif;
  --text-preset-3: 500 1.4rem/1.6 "Montserrat", sans-serif;
  --text-preset-4: 500 1.2rem/1.2 "Montserrat", sans-serif;
  --text-preset-5: 500 1.3rem/1.2 "Montserrat", sans-serif;
  --text-preset-4-ls: 0.5rem;

  --spacing-500: 4rem;
  --spacing-400: 3.2rem;
  --spacing-300: 2.4rem;
  --spacing-200: 1.6rem;
  --spacing-100: 0.8rem;
  --spacing-50: 0.4rem;

  --border-radius: 0.8rem;
}

body {
  background-color: var(--cream);
}

main {
  display: flex;
  justify-content: center;
  margin: 8rem 1.25rem 1.25rem 1.25rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 35rem;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.product-card__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card__content {
  padding: var(--spacing-400);
  background-color: white;
}

.product-card__category {
  font: var(--text-preset-4);
  letter-spacing: var(--text-preset-4-ls);
  text-transform: uppercase;
  color: var(--grey);
}

.product-card__title {
  margin-top: var(--spacing-300);
  font: var(--text-preset-1);
  color: var(--black);
}

.product-card__description {
  margin-top: var(--spacing-300);
  font: var(--text-preset-3);
  color: var(--grey);
}

.product-card__price-wrapper {
  display: flex;
  align-items: center;
  margin-top: var(--spacing-300);
}

.product-card__current-price {
  font: var(--text-preset-1);
  color: var(--green-500);
}

.product-card__old-price {
  font: var(--text-preset-5);
  color: var(--grey);
  margin-left: var(--spacing-200);
  text-decoration: line-through;
}

.product-card__button {
  display: flex;
  justify-content: center;
  margin-top: var(--spacing-300);
  width: 100%;
  border: none;
  background-color: var(--green-500);
  border-radius: var(--border-radius);
  padding: var(--spacing-200) var(--spacing-400);
  color: white;
  font: var(--text-preset-2);
  cursor: pointer;
  transition: background-color 300ms ease;
}

.product-card__button img {
  margin: 0 var(--spacing-100);
}

.product-card__button:hover {
  background-color: var(--green-700);
  transition: background-color 300ms ease;
}

@media (prefers-reduced-motion: reduce) {
  button {
    transition: none;
  }
}

@media screen and (min-width: 768px) {
  main {
    margin: auto;
    align-items: center;
    height: 100vh;
  }

  .product-card {
    flex-direction: row;
    width: 60rem;
  }

  .product-card picture {
    width: 50%;
  }

  .product-card__content {
    width: 50%;
  }

  .product-card__price-wrapper {
    margin-top: var(--spacing-400);
  }

  .product-card__button {
    margin-top: var(--spacing-400);
  }
}
